DATABASE_PRISMA_URL=postgres://postgres:jashdjhakjdhaskdas@ep-yellow-band-a2rea0f1-pooler.eu-central-1.aws.neon.tech/verceldb?pgbouncer=true&connect_timeout=15&sslmode=require
DATABASE_URL_NON_POOLING=postgres://postgres:jashdjhakjdhaskdas@ep-yellow-band-a2rea0f1.eu-central-1.aws.neon.tech/verceldb?sslmode=require